    
  
  .page-padding { 
      padding-right: 5%; 
      padding-left: 5%;
      background-color: black;
      border-radius: 50px;
      color: white;
  } 
  
  .container-large { 
      width: 100%; 
      max-width: 80rem; 
      margin-right: auto; 
      margin-left: auto;
  } 
  
  .container-large { 
      margin-right: auto !important; 
      margin-left: auto !important;
  } 
  
  .padding-xhuge { 
      padding: 7rem;
  } 
  
  .padding-vertical { 
      padding-right: 0rem; 
      padding-left: 0rem;
  } 
  
  .w-layout-grid { 
      display: -ms-grid; 
      display: grid; 
      grid-auto-columns: 1fr; 
      -ms-grid-columns: 1fr 1fr; 
      grid-template-columns: 1fr 1fr; 
      -ms-grid-rows: auto auto; 
      grid-template-rows: auto auto; 
      grid-row-gap: 16px; 
      grid-column-gap: 16px;
  } 
  
  .home-howto_component { 
      display: -ms-grid; 
      display: grid; 
      -webkit-box-align: start; 
      -webkit-align-items: start; 
      -ms-flex-align: start; 
      align-items: start; 
      grid-auto-columns: 1fr; 
      grid-column-gap: 4rem; 
      grid-row-gap: 4rem; 
      -ms-grid-columns: 0.75fr 1fr; 
      grid-template-columns: 0.75fr 1fr; 
      -ms-grid-rows: auto; 
      grid-template-rows: auto;
  } 
  
  .margin-small { 
      margin: 1.5rem;
  } 
  
  .margin-top { 
      margin-right: 0rem; 
      margin-bottom: 0rem; 
      margin-left: 0rem;
  } 
  
  .home-howto_timeline-wrapper { 
      position: relative;
  } 
  
  h3 { 
      font-weight: bold; 
      margin-bottom: 10px;
  } 
  
  h3 { 
      font-size: 24px; 
      line-height: 30px; 
      margin-top: 20px;
  } 
  
  h3 { 
      margin-top: 0rem; 
      margin-bottom: 0rem; 
      font-size: 2.5rem; 
      line-height: 1.2; 
      font-weight: 500; 
      letter-spacing: -0.03em;
  } 
  
  .home-howto_progress-bar-wrapper { 
      position: absolute; 
      left: 2.4375rem; 
      top: 10%; 
      right: auto; 
      width: 1px; 
      height: 75%; 
      background-color: rgba(255, 255, 255, 0.15);
  } 
  
  .home-howto_timeline-step { 
      grid-column-gap: 2.5rem; 
      grid-row-gap: 0px; 
      -ms-grid-columns: -webkit-max-content 1fr; 
      -ms-grid-columns: max-content 1fr; 
      grid-template-columns: -webkit-max-content 1fr; 
      grid-template-columns: max-content 1fr; 
      -ms-grid-rows: auto; 
      grid-template-rows: auto;
  } 
  
  .home-howto_progress-bar { 
      width: 1px; 
      height: 100%; 
      background-color: #fff;
  } 
  
  .home-howto_timeline-left { 
      position: relative; 
      display: -webkit-box; 
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: flex; 
      padding-top: 2.5rem; 
      padding-bottom: 2.5rem; 
      -webkit-box-orient: vertical; 
      -webkit-box-direction: normal; 
      -webkit-flex-direction: column; 
      -ms-flex-direction: column; 
      flex-direction: column; 
      -webkit-box-pack: start; 
      -webkit-justify-content: flex-start; 
      -ms-flex-pack: start; 
      justify-content: flex-start; 
      -webkit-box-align: center; 
      -webkit-align-items: center; 
      -ms-flex-align: center; 
      align-items: center;
  } 
  
  .home-howto_timeline-right { 
      padding-top: 2.5rem; 
      padding-bottom: 2.5rem;
  } 
  
  .home-howto_timeline-icon-wrapper { 
      position: relative; 
      z-index: 1; 
      margin-top: -1rem; 
      padding: 1rem; 
      background-color: transparent;
  } 
  
  img { 
      border: 0;
  } 
  
  img { 
      max-width: 100%; 
      vertical-align: middle; 
      display: inline-block;
  } 
  
  img { 
      display: inline-block; 
      max-width: 100%;
  } 
  
  .icon-1x1-medium { 
      width: 3rem; 
      height: 3rem;
  } 
  
  .margin-bottom { 
      margin-top: 0rem; 
      margin-right: 0rem; 
      margin-left: 0rem;
  } 
  
  .margin-xsmall { 
      margin-top: 1rem;
      margin-bottom: 1rem;
  } 
  
  p { 
      margin-top: 0; 
      margin-bottom: 10px;
  } 
  
  p { 
      margin-bottom: 0rem; 
      color: rgba(255, 255, 255, 0.8); 
      letter-spacing: 0em;
  } 
  
  h6 { 
      font-weight: bold; 
      margin-bottom: 10px;
  } 
  
  h6 { 
      font-size: 12px; 
      line-height: 18px; 
      margin-top: 10px;
  } 
  
  h6 { 
      margin-top: 0rem; 
      margin-bottom: 0rem; 
      font-size: 1.25rem; 
      line-height: 1.4; 
      font-weight: 500;
  } 
  
  a { 
      background-color: transparent;
  } 
  
  a { 
      color: #101111; 
      text-decoration: underline;
  } 
  
  a { 
      color: inherit;
  } 
  
  a { 
      color: inherit; 
      text-decoration: inherit; 
      font-size: inherit;
  } 
  
  .text-style-link { 
      text-decoration: underline;
  } 
  
  a:active,a:hover { 
      outline: 0;
  } 
  
  .w-button { 
      display: inline-block; 
      padding: 9px 15px; 
      background-color: #3898EC; 
      color: white; 
      border: 0; 
      line-height: inherit; 
      text-decoration: none; 
      cursor: pointer; 
      border-radius: 0;
  } 
  
  .button-secondary { 
      padding: 0.75rem 2rem; 
      border-style: solid; 
      border-width: 1px; 
      border-color: rgba(255, 255, 255, 0.25); 
      border-radius: 100px; 
      background-color: transparent; 
      -webkit-transition: all 200ms ease; 
      transition: all 200ms ease; 
      color: #fff; 
      font-size: 1.125rem; 
      font-weight: 500; 
      text-align: center; 
      letter-spacing: 0em;
  } 
  
  .button-secondary.button-small { 
      padding: 0.5rem 1.25rem; 
      font-size: 1rem;
  } 
  
  .button-secondary:hover { 
      border-color: #fff;
  } 
  
  
  /* These were inline style tags. Uses id+class to override almost everything */
  #style-yPkAM.style-yPkAM {  
     will-change: width, height;  
      height: 0%;  
  }  
  