@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap'); 
  body {  
    line-height:inherit;
    color:rgb(var(--color-gray-800)/var(--tw-text-opacity));
    font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --tw-translate-x:  0;  
    --tw-translate-y:  0;  
    --tw-rotate:  0;  
    --tw-skew-x:  0;  
    --tw-skew-y:  0;  
    --tw-scale-x:  1;  
    --tw-scale-y:  1;  
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-border-opacity:  1;  
    --tw-content:  ""; 
    --tw-translate-x:  0;  
    --tw-translate-y:  0;  
    --tw-rotate:  0;  
    --tw-skew-x:  0;  
    --tw-skew-y:  0;  
    --tw-scale-x:  1;  
    --tw-scale-y:  1;  
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-border-opacity:  1;  
    --tw-translate-x:  0;  
    --tw-translate-y:  0;  
    --tw-rotate:  0;  
    --tw-skew-x:  0;  
    --tw-skew-y:  0;  
    --tw-scale-x:  1;  
    --tw-scale-y:  1;  
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-shadow:  0px 1px 0px rgba(0,0,0,.05);  
    --tw-shadow-colored:  0px 1px 0px var(--tw-shadow-color); 
    --tw-backdrop-blur:  blur(12px); 
    --tw-space-y-reverse:  0;  
    --tw-space-y-reverse:  0;  
    --tw-space-x-reverse:  0;  
    --tw-space-x-reverse:  0;  
    --tw-gradient-from:  rgb(var(--color-blue-bg)/1);  
    --tw-gradient-to:  rgb(var(--color-blue-bg)/0);  
    --tw-gradient-stops:  var(--tw-gradient-from),var(--tw-gradient-to); 
    --tw-gradient-to:  rgb(var(--color-bg)/1); 
    --tw-text-opacity:  1;  
    --tw-space-y-reverse:  0;  
    --tw-text-opacity:  1;  
    --tw-bg-opacity:  1;  
    --tw-space-x-reverse:  0;  
    --tw-border-opacity:  1;  
    --tw-bg-opacity:  1;  
    --tw-blur:  blur(40px); 
    --tw-text-opacity:  1;  
    --tw-text-opacity:  1;  
    --tw-space-x-reverse:  0;  
    --tw-space-x-reverse:  0;  
    --tw-translate-x:  175px; 
    --tw-translate-x:  0px; 
    --tw-shadow:  0 0 #0000; 
    --tw-bg-opacity:  1;  
    --tw-border-opacity:  1;  
    --tw-translate-x:  -0.75rem; 
    --tw-bg-opacity:  1;  
    --tw-text-opacity:  1;  
    --tw-rotate:  30deg; 
    --tw-text-opacity:  1;  
    --tw-aspect-w:  1; 
    --tw-aspect-h:  1; 
    --tw-bg-opacity:  1;  
    --tw-bg-opacity:  1;  
    --tw-scale-x:  1.1;  
    --tw-scale-y:  1.1;  
    --tw-gradient-from:  rgba(0,0,0,.48);  
    --tw-gradient-to:  transparent;  
    --tw-gradient-stops:  var(--tw-gradient-from),var(--tw-gradient-to); 
    --tw-gradient-to:  transparent; 
    --tw-border-opacity:  1;  
    --tw-text-opacity:  1;  
} 

* { 
    box-sizing: border-box; 
    border-width: 0; 
    border-style: solid; 
    border-color: rgb(var(--color-gray-200)/1);
} 

* { 
    --tw-translate-x: 0; 
    --tw-translate-y: 0; 
    --tw-rotate: 0; 
    --tw-skew-x: 0; 
    --tw-skew-y: 0; 
    --tw-scale-x: 1; 
    --tw-scale-y: 1; 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
} 

* { 
    --tw-border-opacity: 1; 
    border-color: rgb(var(--color-gray-300)/var(--tw-border-opacity));
} 

body { 
    margin: 0; 
    line-height: inherit;
} 

body { 
    --tw-bg-opacity: 1; 
    background-color: rgb(var(--color-bg)/var(--tw-bg-opacity)); 
    --tw-text-opacity: 1; 
    color: rgb(var(--color-gray-800)/var(--tw-text-opacity)); 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

html { 
    line-height: 1.5; 
    -webkit-text-size-adjust: 100%; 
    -moz-tab-size: 4; 
    -o-tab-size: 4; 
    tab-size: 4; 
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    font-feature-settings: normal;
} 

:root { 
    --color-gray-200: 244 245 246; 
    --color-gray-300: 230 232 236; 
    --color-gray-400: 195 199 212; 
    --color-gray-500: 119 126 144; 
    --color-gray-700: 53 57 69; 
    --color-gray-800: 35 38 47; 
    --color-gray-900: 20 20 22; 
    --color-bg: 255 255 255; 
    --color-modal-section-bg: 243 244 245; 
    --color-blue-bg: 239 246 255; 
} 

#__next { 
    display: flex; 
    min-height: 100vh; 
    flex-direction: column;
} 

*,:after,:before { 
    box-sizing: border-box; 
    border-width: 0; 
    border-style: solid; 
    border-color: rgb(var(--color-gray-200)/1);
} 

:after,:before { 
    --tw-content: "";
} 

*,:after,:before { 
    --tw-translate-x: 0; 
    --tw-translate-y: 0; 
    --tw-rotate: 0; 
    --tw-skew-x: 0; 
    --tw-skew-y: 0; 
    --tw-scale-x: 1; 
    --tw-scale-y: 1; 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
} 

*,:after,:before { 
    --tw-border-opacity: 1; 
    border-color: rgb(var(--color-gray-300)/var(--tw-border-opacity));
} 

:backdrop { 
    --tw-translate-x: 0; 
    --tw-translate-y: 0; 
    --tw-rotate: 0; 
    --tw-skew-x: 0; 
    --tw-skew-y: 0; 
    --tw-scale-x: 1; 
    --tw-scale-y: 1; 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
} 

.sticky { 
    position: sticky;
} 

.top-0 { 
    top: 0;
} 

.z-\[1100\] { 
    z-index: 1100;
} 

.h-\[72px\] { 
    height: 72px;
} 

.bg-bg\/80 { 
    background-color: rgb(var(--color-bg)/.8);
} 

.shadow-\[0px_1px_0px_rgba\(0\,0\,0\,0\.05\)\] { 
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
} 

.shadow-\[0px_1px_0px_rgba\(0\,0\,0\,0\.05\)\] { 
    --tw-shadow: 0px 1px 0px rgba(0,0,0,.05); 
    --tw-shadow-colored: 0px 1px 0px var(--tw-shadow-color);
} 

.backdrop-blur-md { 
    --tw-backdrop-blur: blur(12px);
} 

.backdrop-blur-md { 
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia); 
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
} 

@media (min-width: 62em){ 
  .lg\:h-\[80px\] { 
    height: 80px;
  } 
}     

.flex { 
    display: flex;
} 

.flex-1 { 
    flex: 1 1 0%;
} 

.flex-col { 
    flex-direction: column;
} 

.border-t { 
    border-top-width: 1px;
} 

.px-6 { 
    padding-left: 1.5rem; 
    padding-right: 1.5rem;
} 

.py-10 { 
    padding-top: 2.5rem; 
    padding-bottom: 2.5rem;
} 

@media (min-width: 62em){ 
  .lg\:flex-row { 
    flex-direction: row;
  } 

  .lg\:justify-between { 
    justify-content: space-between;
  } 

  .lg\:p-16 { 
    padding: 4rem;
  } 
}     

.h-full { 
    height: 100%;
} 

.items-center { 
    align-items: center;
} 

.px-4 { 
    padding-left: 1rem; 
    padding-right: 1rem;
} 

@media (min-width: 62em){ 
  .lg\:px-8 { 
    padding-left: 2rem; 
    padding-right: 2rem;
  } 
}     

.relative { 
    position: relative;
} 

.mx-auto { 
    margin-left: auto; 
    margin-right: auto;
} 

.mb-10 { 
    margin-bottom: 2.5rem;
} 

.w-full { 
    width: 100%;
} 

.max-w-\[1440px\] { 
    max-width: 1440px;
} 

@media (min-width: 62em){ 
  .lg\:mb-16 { 
    margin-bottom: 4rem;
  } 
}     

.mt-10 { 
    margin-top: 2.5rem;
} 

@media (min-width: 62em){ 
  .lg\:mt-16 { 
    margin-top: 4rem;
  } 

  .lg\:py-16 { 
    padding-top: 4rem; 
    padding-bottom: 4rem;
  } 

  .lg\:items-end { 
    align-items: flex-end;
  } 
}     

.space-y-10 > :not([hidden]) ~ :not([hidden])  { 
    --tw-space-y-reverse: 0; 
    margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse))); 
    margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
} 

@media (min-width: 62em){ 
  .lg\:space-y-0 > :not([hidden]) ~ :not([hidden])  { 
    --tw-space-y-reverse: 0; 
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse))); 
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  } 
}     

a { 
    color: inherit; 
    text-decoration: inherit;
} 

.hover\:opacity-50:hover { 
    opacity: .5;
} 

.hidden { 
    display: none;
} 

.font-bold { 
    font-weight: 700;
} 

@media (min-width: 62em){ 
  .lg\:flex { 
    display: flex;
  } 
}     

.space-x-4 > :not([hidden]) ~ :not([hidden])  { 
    --tw-space-x-reverse: 0; 
    margin-right: calc(1rem * var(--tw-space-x-reverse)); 
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
} 

@media (min-width: 48em){ 
  .md\:space-x-6 > :not([hidden]) ~ :not([hidden])  { 
    --tw-space-x-reverse: 0; 
    margin-right: calc(1.5rem * var(--tw-space-x-reverse)); 
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
  } 

  .md\:block { 
    display: block;
  } 
}     

.justify-end { 
    justify-content: flex-end;
} 

@media (min-width: 48em){ 
  .md\:hidden { 
    display: none;
  } 
}     

.block { 
    display: block;
} 

@media (min-width: 62em){ 
  .lg\:hidden { 
    display: none;
  } 
}     

.absolute { 
    position: absolute;
} 

.inset-0 { 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
} 

.-z-10 { 
    z-index: -10;
} 

.bg-gradient-to-b { 
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
} 

.from-blue-bg { 
    --tw-gradient-from: rgb(var(--color-blue-bg)/1); 
    --tw-gradient-to: rgb(var(--color-blue-bg)/0); 
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
} 

.to-bg { 
    --tw-gradient-to: rgb(var(--color-bg)/1);
} 

.after\:absolute:after { 
    content: var(--tw-content); 
    position: absolute;
} 

.after\:top-0:after { 
    content: var(--tw-content); 
    top: 0;
} 

.after\:mask-to-t:after { 
    content: var(--tw-content); 
    -webkit-mask-image: linear-gradient(0deg,transparent,rgba(0,0,0,.75)); 
    mask-image: linear-gradient(0deg,transparent,rgba(0,0,0,.75));
} 

.after\:h-3\/4:after { 
    content: var(--tw-content); 
    height: 75%;
} 

.after\:w-full:after { 
    content: var(--tw-content); 
    width: 100%;
} 

.after\:bg-\[url\(\"\/pattern\.svg\"\)\]:after { 
    content: var(--tw-content); 
    background-image: url(https://x2y2.io/pattern.svg);
} 

.after\:bg-\[length\:48px_48px\]:after { 
    content: var(--tw-content); 
    background-size: 48px 48px;
} 

.after\:opacity-5:after { 
    content: var(--tw-content); 
    opacity: .05;
} 

.mb-6 { 
    margin-bottom: 1.5rem;
} 

@media (min-width: 62em){ 
  .lg\:mt-12 { 
    margin-top: 3rem;
  } 

  .lg\:mb-10 { 
    margin-bottom: 2.5rem;
  } 
}     

.mx-6 { 
    margin-left: 1.5rem; 
    margin-right: 1.5rem;
} 

.h-\[156px\] { 
    height: 156px;
} 

.cursor-pointer { 
    cursor: pointer;
} 

.overflow-hidden { 
    overflow: hidden;
} 

.rounded-xl { 
    border-radius: .75rem;
} 

@media (min-width: 30em){ 
  .sm\:mx-8 { 
    margin-left: 2rem; 
    margin-right: 2rem;
  } 

  .sm\:h-\[148px\] { 
    height: 148px;
  } 
}     

@media (min-width: 62em){ 
  .lg\:mx-8 { 
    margin-left: 2rem; 
    margin-right: 2rem;
  } 

  .lg\:rounded-xl { 
    border-radius: .75rem;
  } 
}     

.bg-\[length\:100\%_auto\] { 
    background-size: 100% auto;
} 

.bg-center { 
    background-position: 50%;
} 

.p-6 { 
    padding: 1.5rem;
} 

@media (min-width: 62em){ 
  .lg\:p-10 { 
    padding: 2.5rem;
  } 
}     

.mx-0 { 
    margin-left: 0; 
    margin-right: 0;
} 

.will-change-transform { 
    will-change: transform;
} 

@media (min-width: 48em){ 
  .md\:mx-6 { 
    margin-left: 1.5rem; 
    margin-right: 1.5rem;
  } 
}     

h2 { 
    font-size: inherit; 
    font-weight: inherit;
} 

h2 { 
    margin: 0;
} 

.ts-headline-5 { 
    font-family: Poppins,sans-serif; 
    font-size: 1.5rem; 
    line-height: 2rem; 
    font-weight: 700;
} 

.text-center { 
    text-align: center;
} 

@media (min-width: 62em){ 
  .lg\:ts-headline-4 { 
    font-family: Poppins,sans-serif; 
    font-weight: 700;
  } 

  .lg\:ts-headline-4 { 
    font-size: 2rem; 
    line-height: 2.5rem;
  } 
}     

p { 
    margin: 0;
} 

.ts-caption-2 { 
    line-height: 1.25rem;
} 

.ts-caption-2 { 
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    font-size: .75rem;
} 

.mt-2 { 
    margin-top: .5rem;
} 

.text-gray-500 { 
    --tw-text-opacity: 1; 
    color: rgb(var(--color-gray-500)/var(--tw-text-opacity));
} 

@media (min-width: 62em){ 
  .lg\:ts-caption { 
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    font-size: .875rem; 
    line-height: 1.5rem;
  } 
}     

.mt-8 { 
    margin-top: 2rem;
} 

.ts-body-3 { 
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    font-size: .875rem; 
    line-height: 1.5rem;
} 

.space-y-2 > :not([hidden]) ~ :not([hidden])  { 
    --tw-space-y-reverse: 0; 
    margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse))); 
    margin-bottom: calc(.5rem * var(--tw-space-y-reverse));
} 

.py-1 { 
    padding-top: .25rem; 
    padding-bottom: .25rem;
} 

.flex-wrap { 
    flex-wrap: wrap;
} 

.gap-x-3 { 
    -moz-column-gap: .75rem; 
    column-gap: .75rem;
} 

.gap-y-2 { 
    row-gap: .5rem;
} 

@media (min-width: 62em){ 
  .lg\:gap-x-5 { 
    -moz-column-gap: 1.25rem; 
    column-gap: 1.25rem;
  } 
}     

svg { 
    display: block; 
    vertical-align: middle;
} 

.inline-block { 
    display: inline-block;
} 

.h-8 { 
    height: 2rem;
} 

.w-auto { 
    width: auto;
} 

.text-gray-900 { 
    --tw-text-opacity: 1; 
    color: rgb(var(--color-gray-900)/var(--tw-text-opacity));
} 

.ts-button-1 { 
    font-family: Poppins,sans-serif; 
    font-size: 1rem; 
    line-height: 1rem; 
    font-weight: 700;
} 

.rounded-full { 
    border-radius: 9999px;
} 

.py-4 { 
    padding-top: 1rem; 
    padding-bottom: 1rem;
} 

.hover\:bg-modal-section-bg:hover { 
    --tw-bg-opacity: 1; 
    background-color: rgb(var(--color-modal-section-bg)/var(--tw-bg-opacity));
} 

.hover\:underline:hover { 
    text-decoration-line: underline;
} 

.hover\:no-underline:hover { 
    text-decoration-line: none;
} 

.static { 
    position: static;
} 

@media (min-width: 30em){ 
  .sm\:relative { 
    position: relative;
  } 
}     

button { 
    font-family: inherit; 
    font-size: 100%; 
    font-weight: inherit; 
    line-height: inherit; 
    color: inherit; 
    margin: 0; 
    padding: 0;
} 

button { 
    text-transform: none;
} 

button { 
    cursor: pointer;
} 

[type="button"],button { 
    -webkit-appearance: button; 
    background-color: transparent; 
    background-image: none;
} 

.inline-flex { 
    display: inline-flex;
} 

.h-10 { 
    height: 2.5rem;
} 

.w-10 { 
    width: 2.5rem;
} 

.justify-center { 
    justify-content: center;
} 

.hover\:enabled\:opacity-50:enabled:hover { 
    opacity: .5;
} 

.space-x-3 > :not([hidden]) ~ :not([hidden])  { 
    --tw-space-x-reverse: 0; 
    margin-right: calc(.75rem * var(--tw-space-x-reverse)); 
    margin-left: calc(.75rem * calc(1 - var(--tw-space-x-reverse)));
} 

.h-12 { 
    height: 3rem;
} 

.w-12 { 
    width: 3rem;
} 

.outline-none { 
    outline: 2px solid transparent; 
    outline-offset: 2px;
} 

.-mr-2 { 
    margin-right: -.5rem;
} 

.ts-headline-4 { 
    font-family: Poppins,sans-serif; 
    font-size: 2rem; 
    line-height: 2.5rem; 
    font-weight: 700;
} 

@media (min-width: 62em){ 
  .lg\:ts-headline-2 { 
    font-size: 3rem; 
    line-height: 3.5rem;
  } 

  .lg\:ts-headline-2 { 
    font-family: Poppins,sans-serif; 
    font-weight: 700;
  } 

  .lg\:ts-body-2 { 
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    font-size: 1rem; 
    line-height: 1.5rem;
  } 
}     

.left-3 { 
    left: .75rem;
} 

.top-\[143px\] { 
    top: 143px;
} 

.z-\[1\] { 
    z-index: 1;
} 

.select-none { 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none;
} 

.border { 
    border-width: 1px;
} 

.border-gray-300 { 
    --tw-border-opacity: 1; 
    border-color: rgb(var(--color-gray-300)/var(--tw-border-opacity));
} 

.bg-bg { 
    --tw-bg-opacity: 1; 
    background-color: rgb(var(--color-bg)/var(--tw-bg-opacity));
} 

.p-2 { 
    padding: .5rem;
} 

@media (min-width: 62em){ 
  .lg\:block { 
    display: block;
  } 
}     

.right-3 { 
    right: .75rem;
} 

.bg-cover { 
    background-size: cover;
} 

.bg-\[left_bottom\] { 
    background-position: 0 100%;
} 

@media (min-width: 30em){ 
  .sm\:hidden { 
    display: none;
  } 
}     

.bg-\[length\:auto_100\%\] { 
    background-size: auto 100%;
} 

.bg-left { 
    background-position: 0;
} 

@media (min-width: 30em){ 
  .sm\:block { 
    display: block;
  } 
}     

.w-\[240px\] { 
    width: 240px;
} 

.py-8 { 
    padding-top: 2rem; 
    padding-bottom: 2rem;
} 

@media (min-width: 30em){ 
  .sm\:w-auto { 
    width: auto;
  } 

  .sm\:items-center { 
    align-items: center;
  } 

  .sm\:px-10 { 
    padding-left: 2.5rem; 
    padding-right: 2.5rem;
  } 

  .sm\:pl-\[230px\] { 
    padding-left: 230px;
  } 
}     

.inset-\[-40px\] { 
    top: -40px; 
    right: -40px; 
    bottom: -40px; 
    left: -40px;
} 

.z-\[-1\] { 
    z-index: -1;
} 

.blur-2xl { 
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
} 

.blur-2xl { 
    --tw-blur: blur(40px);
} 

.filter { 
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
} 

.transition-\[background-image\] { 
    transition-property: background-image; 
    transition-timing-function: cubic-bezier(.4,0,.2,1); 
    transition-duration: .15s;
} 

.duration-300 { 
    transition-duration: .3s;
} 

h4 { 
    font-size: inherit; 
    font-weight: inherit;
} 

h4 { 
    margin: 0;
} 

.text-button-text { 
    --tw-text-opacity: 1; 
    color: rgb(252 252 253/var(--tw-text-opacity));
} 

.mt-1 { 
    margin-top: .25rem;
} 

.swiper { 
    margin-left: auto; 
    margin-right: auto; 
    position: relative; 
    overflow: hidden; 
    list-style: none; 
    padding: 0; 
    z-index: 1; 
    display: block;
} 

.grid { 
    display: grid;
} 

.grid-cols-partners { 
    grid-template-columns: repeat(auto-fill,minmax(140px,1fr));
} 

.gap-6 { 
    gap: 1.5rem;
} 

@media (min-width: 80em){ 
  .xl\:px-0 { 
    padding-left: 0; 
    padding-right: 0;
  } 
}     

.h-6 { 
    height: 1.5rem;
} 

.ml-auto { 
    margin-left: auto;
} 

@media (min-width: 62em){ 
  .lg\:ml-6 { 
    margin-left: 1.5rem;
  } 
}     

.text-gray-700 { 
    --tw-text-opacity: 1; 
    color: rgb(var(--color-gray-700)/var(--tw-text-opacity));
} 

.space-x-6 > :not([hidden]) ~ :not([hidden])  { 
    --tw-space-x-reverse: 0; 
    margin-right: calc(1.5rem * var(--tw-space-x-reverse)); 
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
} 

@media (min-width: 62em){ 
  .lg\:space-x-8 > :not([hidden]) ~ :not([hidden])  { 
    --tw-space-x-reverse: 0; 
    margin-right: calc(2rem * var(--tw-space-x-reverse)); 
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
  } 
}     

.w-6 { 
    width: 1.5rem;
} 

@media (min-width: 62em){ 
  .lg\:h-10 { 
    height: 2.5rem;
  } 

  .lg\:w-10 { 
    width: 2.5rem;
  } 
}     

.border-2 { 
    border-width: 2px;
} 

.w-\[1400px\] { 
    width: 1400px;
} 

.translate-x-\[175px\] { 
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
} 

.translate-x-\[175px\] { 
    --tw-translate-x: 175px;
} 

@media (min-width: 62em){ 
  .lg\:translate-x-0 { 
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  } 

  .lg\:translate-x-0 { 
    --tw-translate-x: 0px;
  } 
}     

@media (min-width: 30em){ 
  .sm\:ts-headline-4 { 
    font-family: Poppins,sans-serif; 
    font-weight: 700;
  } 

  .sm\:ts-headline-4 { 
    font-size: 2rem; 
    line-height: 2.5rem;
  } 
}     

.bg-black\/\[\.24\] { 
    background-color: rgba(0,0,0,.24);
} 

.justify-between { 
    justify-content: space-between;
} 

@media (min-width: 62em){ 
  .lg\:px-10 { 
    padding-left: 2.5rem; 
    padding-right: 2.5rem;
  } 
}     

.mt-6 { 
    margin-top: 1.5rem;
} 

.min-w-0 { 
    min-width: 0;
} 

@media (min-width: 62em){ 
  .lg\:mt-0 { 
    margin-top: 0;
  } 

  .lg\:pr-10 { 
    padding-right: 2.5rem;
  } 
}     

.ml-1 { 
    margin-left: .25rem;
} 

.self-start { 
    align-self: flex-start;
} 

.swiper-wrapper { 
    position: relative; 
    width: 100%; 
    height: 100%; 
    z-index: 1; 
    display: flex; 
    transition-property: transform; 
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial); 
    box-sizing: content-box;
} 

.swiper-wrapper { 
    transform: translateZ(0);
} 

.swiper-pagination { 
    position: absolute; 
    text-align: center; 
    transition: opacity .3s; 
    transform: translateZ(0); 
    z-index: 10;
} 

.h-5 { 
    height: 1.25rem;
} 

.w-5 { 
    width: 1.25rem;
} 

.ts-button-2 { 
    font-size: .875rem; 
    line-height: 1rem;
} 

.ts-button-2 { 
    font-family: Poppins,sans-serif; 
    font-weight: 700;
} 

.shrink-0 { 
    flex-shrink: 0;
} 

@media (min-width: 62em){ 
  .lg\:flex-col { 
    flex-direction: column;
  } 

  .lg\:w-\[584px\] { 
    width: 584px;
  } 

  .lg\:justify-start { 
    justify-content: flex-start;
  } 
}     

@media (min-width: 80em){ 
  .xl\:w-\[888px\] { 
    width: 888px;
  } 
}     

.right-5 { 
    right: 1.25rem;
} 

.top-\[148px\] { 
    top: 148px;
} 

.swiper-slide { 
    flex-shrink: 0; 
    width: 100%; 
    height: 100%; 
    position: relative; 
    transition-property: transform; 
    display: block;
} 

.h-\[40px\] { 
    height: 40px;
} 

.w-\[100px\] { 
    width: 100px;
} 

.pointer-events-none { 
    pointer-events: none;
} 

.inset-y-0 { 
    top: 0; 
    bottom: 0;
} 

.left-0 { 
    left: 0;
} 

.px-3 { 
    padding-left: .75rem; 
    padding-right: .75rem;
} 

input { 
    font-family: inherit; 
    font-size: 100%; 
    font-weight: inherit; 
    line-height: inherit; 
    color: inherit; 
    margin: 0; 
    padding: 0;
} 

.form-input { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background-color: #fff; 
    border-color: rgb(var(--color-gray-500)); 
    border-width: 1px; 
    border-radius: 0; 
    padding: .5rem .75rem; 
    font-size: 1rem; 
    line-height: 1.5rem; 
    --tw-shadow: 0 0 #0000;
} 

.ts-input-1 { 
    font-size: 1rem; 
    font-weight: 500;
} 

.ts-input-1 { 
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    line-height: 1.5rem;
} 

.rounded-lg { 
    border-radius: .5rem;
} 

.\!rounded-full { 
    border-radius: 9999px!important;
} 

.border-transparent { 
    border-color: transparent;
} 

.bg-gray-200 { 
    --tw-bg-opacity: 1; 
    background-color: rgb(var(--color-gray-200)/var(--tw-bg-opacity));
} 

.px-10 { 
    padding-left: 2.5rem; 
    padding-right: 2.5rem;
} 

.hover\:border-gray-500:hover { 
    --tw-border-opacity: 1; 
    border-color: rgb(var(--color-gray-500)/var(--tw-border-opacity));
} 

.ts-caption { 
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    line-height: 1.5rem;
} 

.ts-caption { 
    font-size: .875rem;
} 

.mt-4 { 
    margin-top: 1rem;
} 

.line-clamp-5 { 
    overflow: hidden; 
    display: -webkit-box; 
    -webkit-box-orient: vertical;
} 

.line-clamp-5 { 
    -webkit-line-clamp: 5;
} 

.w-\[912px\] { 
    width: 912px;
} 

@media (min-width: 62em){ 
  .lg\:-translate-x-3 { 
    --tw-translate-x: -0.75rem;
  } 

  .lg\:-translate-x-3 { 
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  } 
}     

.h-\[368px\] { 
    height: 368px;
} 

.bg-blue-bg { 
    --tw-bg-opacity: 1; 
    background-color: rgb(var(--color-blue-bg)/var(--tw-bg-opacity));
} 

@media (min-width: 48em){ 
  .md\:rounded-xl { 
    border-radius: .75rem;
  } 

  .md\:px-0 { 
    padding-left: 0; 
    padding-right: 0;
  } 
}     

@media (min-width: 62em){ 
  .lg\:h-auto { 
    height: auto;
  } 

  .lg\:py-12 { 
    padding-top: 3rem; 
    padding-bottom: 3rem;
  } 
}     

.text-gray-400 { 
    --tw-text-opacity: 1; 
    color: rgb(var(--color-gray-400)/var(--tw-text-opacity));
} 

.\!w-\[350px\] { 
    width: 350px!important;
} 

img { 
    display: block; 
    vertical-align: middle;
} 

img { 
    max-width: 100%; 
    height: auto;
} 

.ts-body-2 { 
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    font-size: 1rem; 
    line-height: 1.5rem;
} 

.line-clamp-2 { 
    overflow: hidden; 
    display: -webkit-box; 
    -webkit-box-orient: vertical;
} 

.line-clamp-2 { 
    -webkit-line-clamp: 2;
} 

.top-\[-25px\] { 
    top: -25px;
} 

.left-\[-71px\] { 
    left: -71px;
} 

.w-\[440px\] { 
    width: 440px;
} 

.rotate-\[30deg\] { 
    --tw-rotate: 30deg;
} 

.rotate-\[30deg\] { 
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
} 

.bottom-\[-25px\] { 
    bottom: -25px;
} 

.right-\[-71px\] { 
    right: -71px;
} 

.isolate { 
    isolation: isolate;
} 

.object-center { 
    -o-object-position: center; 
    object-position: center;
} 

.link-box { 
    position: relative;
} 

.text-gray-800 { 
    --tw-text-opacity: 1; 
    color: rgb(var(--color-gray-800)/var(--tw-text-opacity));
} 

.gap-y-4 { 
    row-gap: 1rem;
} 

.px-2 { 
    padding-left: .5rem; 
    padding-right: .5rem;
} 

@media (min-width: 48em){ 
  .md\:w-\[696px\] { 
    width: 696px;
  } 

  .md\:px-3 { 
    padding-left: .75rem; 
    padding-right: .75rem;
  } 

  .md\:py-6 { 
    padding-top: 1.5rem;
  } 

  .md\:py-6 { 
    padding-bottom: 1.5rem;
  } 
}     

@media (min-width: 62em){ 
  .lg\:max-w-\[327px\] { 
    max-width: 327px;
  } 
}     

.aspect-w-1 { 
    position: relative; 
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%); 
    --tw-aspect-w: 1;
} 

.aspect-h-1 { 
    --tw-aspect-h: 1;
} 

.\!w-\[304px\] { 
    width: 304px!important;
} 

.flex-\[1_0_336px\] { 
    flex: 1 0 336px;
} 

.justify-around { 
    justify-content: space-around;
} 

.ts-body-1 { 
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    font-size: 1.5rem; 
    line-height: 2rem;
} 

.truncate { 
    overflow: hidden; 
    white-space: nowrap;
} 

.truncate { 
    text-overflow: ellipsis;
} 

.bg-primary-1 { 
    --tw-bg-opacity: 1; 
    background-color: rgb(59 130 246/var(--tw-bg-opacity));
} 

.button-hover\:bg-primary-1-600:hover[href] { 
    --tw-bg-opacity: 1; 
    background-color: rgb(43 100 211/var(--tw-bg-opacity));
} 

.aspect-w-1 > *  { 
    position: absolute; 
    height: 100%; 
    width: 100%; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
} 

.object-cover { 
    -o-object-fit: cover; 
    object-fit: cover;
} 

.transition-all { 
    transition-property: all; 
    transition-timing-function: cubic-bezier(.4,0,.2,1); 
    transition-duration: .15s;
} 

@media (min-width: 62em){ 
  .group:hover .lg\:group-hover\:scale-110 { 
    --tw-scale-x: 1.1; 
    --tw-scale-y: 1.1; 
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  } 
}     

.items-end { 
    align-items: flex-end;
} 

.flex-\[1_0_0\] { 
    flex: 1 0 0;
} 

.h-\[120px\] { 
    height: 120px;
} 

.bg-gradient-to-t { 
    background-image: linear-gradient(to top,var(--tw-gradient-stops));
} 

.from-\[rgba\(0\,0\,0\,0\.48\)\] { 
    --tw-gradient-from: rgba(0,0,0,.48); 
    --tw-gradient-to: transparent; 
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
} 

.to-transparent { 
    --tw-gradient-to: transparent;
} 

.p-4 { 
    padding: 1rem;
} 

.bottom-\[68px\] { 
    bottom: 68px;
} 

.border-button-text { 
    --tw-border-opacity: 1; 
    border-color: rgb(252 252 253/var(--tw-border-opacity));
} 

.bg-button-text\/25 { 
    background-color: rgba(252,252,253,.25);
} 

.leading-5 { 
    line-height: 1.25rem;
} 

.ts-headline-6 { 
    font-family: Poppins,sans-serif; 
    font-size: 1.25rem; 
    line-height: 1.75rem; 
    font-weight: 700;
} 

.max-w-full { 
    max-width: 100%;
} 

.text-base { 
    font-size: 1rem; 
    line-height: 1.5rem;
} 

@media (min-width: 62em){ 
  .lg\:ts-headline-5 { 
    font-family: Poppins,sans-serif; 
    font-weight: 700;
  } 

  .lg\:ts-headline-5 { 
    font-size: 1.5rem; 
    line-height: 2rem;
  } 
}     

.link-overlay:before { 
    content: ""; 
    position: absolute; 
    inset: 0;
} 

.h-4 { 
    height: 1rem;
} 

.w-4 { 
    width: 1rem;
} 

.text-primary-1 { 
    --tw-text-opacity: 1; 
    color: rgb(59 130 246/var(--tw-text-opacity));
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-IYq8N.style-IYq8N {  
   background-image:url('https://cdn.x2y2.io/banner/0fe5caff52a64665ae0db66cfefaf4c6.png');  
   background-size:cover;  
}  
#style-heHtU.style-heHtU {  
   position:fixed;  
   z-index:9999;  
   top:16px;  
   left:16px;  
   right:16px;  
   bottom:16px;  
   pointer-events:none;  
   inset:130px 40px 40px;  
}  
.carousel{
    padding-right: 40px
}